*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Following is based on
# https://betterstack.com/community/questions/gitignore-template-for-android-studio-project/

# Gradle files
.gradle/
build/

# Android Studio and IntelliJ IDEA files
.idea/
# *.iml
*.iws
*.ipr

# Keystore files
*.jks
*.keystore

# Log files
*.log

# OS-specific files
# .DS_Store
Thumbs.db

# Build directories
app/build/
*/build/

# Proguard configuration files
proguard-rules.pro

# Miscellaneous
*.apk
*.ap_
*.dex
*.class

# Android NDK
ndkBuild/
# local.properties
